.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 425px) and (max-width: 767px) {
  .lead__title {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
