.lead__subtitle {
  margin: 32px auto 0;
  max-width: 594px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 425px) {
  .lead__subtitle {
    margin: 16px auto 0;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}
