.footer {
  margin: 0 auto;
  padding: 92px 0 24px;
  max-width: 1184px;
  display: flex;
  font-family: "Inter", "Verdana", sans-serif;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    padding-left: 50px;
  }
}
@media (max-width: 425px) {
  .footer {
    margin: 0;
    max-width: 186px;
    padding-left: 16px;
  }
}
